@model IEnumerable<PermissionManagement.MVC.Models.Affectation>

@{
    ViewData["Title"] = "IndexA";
}

<h1>Index</h1>


<table id="example" class="table table-bordered" style="width:100%">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.debut)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Compte)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contact)
            </th>
            
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.debut)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fin)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Compte.AccountName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Contact.LastName)
                </td>

            </tr>
        }
    </tbody>
</table>
