@using Microsoft.AspNetCore.Identity;
@model IEnumerable<IdentityUser>


<table id="example" class="table table-bordered" style="width:100%;background-color: white;">
    <thead>
        <tr>
            <th>
                User
            </th>
            <th>
                Email
            </th>
            <th>

                <a onclick="showInPopup('@Url.Action("Create","Users",null,Context.Request.Scheme)','New User')" class="btn btn-info text-white"><i class="fas fa-plus-square"></i> New User</a>

            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>
                    <div class="row">
                        <div class="col-sm">
                            <a>
                                @user.UserName
                            </a>
                            <br>
                            <small>
                                @user.Id
                            </small>
                        </div>
                    </div>
                </td>
                <td>
                    <a>
                        @user.Email
                    </a>
                </td>
                <td>
                    <div class="btn-group">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Action
                        </button>
                        <div class="dropdown-menu shadow animated--grow-in">
                            <a style='margin-right:16px' asp-controller="userroles" asp-action="Index" asp-route-userId="@user.Id" class="dropdown-item">
                                <i class="fas fa-wrench"></i> Manage Roles
                            </a>
                            <form asp-action="Delete" asp-route-id="@user.Id" onsubmit="return jQueryAjaxDelete(this)" method="post" class="dropdown-item">
                                <button type="submit" class="btn btn-sm btn-danger">
                                    Delete
                                </button>
                            </form>
                        </div>

                    </div>
                </td>
            </tr>}
    </tbody>
</table>
